/*
https://fonts.google.com/specimen/Roboto?query=roboto&sidebar.open=true&selection.family=Roboto:wght@300;400
https://fonts.google.com/specimen/Playfair+Display?query=Playfair&sidebar.open=true&selection.family=Playfair+Display:wght@900|Roboto:wght@300;400

*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3125rem; /* 21px */
}

.hero {
  height: 100vh;
  background-color: #f3EED9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 70%;
  max-width: 775px;
  text-align: center;
}

.subtitle {
  font-size: 1.125rem; /* 18px */
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.75rem;  /* 60px */
  color: #824936;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.25rem;  /* 36px */
}
.main-title {
  color: #824936;
  text-align: center;
}
.article-title {
  color: #f3EED9;
}

.main {
  padding: 2em 0 4em;
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%; /* Each p tries to reach the max length. If there is multiple <p>, then you need another layer of .col to wrap it and margin between .col */
  border: 1px solid pink;
}

.col + .col {
  margin-left: 40px;
}

article {
  padding: 4em 0;
}
.article--primary {
  background: #222C2A;
}
.article--secondary {
  background: #824936;
}
