/*
https://fonts.google.com/specimen/Roboto?query=roboto&sidebar.open=true&selection.family=Roboto:wght@300;400
https://fonts.google.com/specimen/Playfair+Display?query=Playfair&sidebar.open=true&selection.family=Playfair+Display:wght@900|Roboto:wght@300;400
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3125rem; /* 21px */
  line-height: 1.6;
  color: #222C2A;
}

/* This will force the image to shrink with the window but never go above its original size when stretch */
img {
  max-width: 100%;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900; /* Not sure where he gets the value from */
  margin-top: 0;

  /* Generally the gap between each line in h1-h4 is big. You can make it smaller but Need to check
  when in smaller screen whether each line may overlap each other. e.g. the 'p' in line 1 with the 'h' in line 2 */
  line-height: 1.1;
}
/*h1 {*/
/*  font-size: 3.75rem;  !* 60px *!*/
/*  color: #824936;*/
/*}*/
/*h2 {*/
/*  font-size: 2.25rem;  !* 36px *!*/
/*}*/

/* style first for mobile */
section { /* main, article */
  padding: 4em 0;
}
/* style first for mobile */
.container { /* container */
  width: 85%;
  margin: 0 auto;
  max-width: 1128px; /* specific in the requirement. It is really for desktop view. */
}

.section-title { /* .article-title, h2 */
  font-size: 2.25rem;  /* 36px */
  color: #f3EED9;
}
.section-title--dark { /* .main-title */
  color: #824936;
}
/*--------------------------------------------------*/

.hero {
  height: 100vh;
  background-color: #f3EED9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 70%;
  max-width: 775px;
  text-align: center;
}

.subtitle {
  font-size: 1.125rem; /* 18px */
  text-transform: uppercase;
  letter-spacing: 0.5em;
}


.intro { /* .hero */
  background-color: #f3EED9;
  padding: 200px 0; /* we are not setting 100vh * for this one */
  text-align: center; /* use text-align rather than flexbox */
  color: #824936; /* put the color here rather than in h1 <<< Good decision */
  min-height: 660px; /* Give a min-height so it will grow according to the content. Better to vh in case your content is huge */
}
.intro__text { /* .subtitle */
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.125rem; /* 18px */
  color: #222C2A;
  margin: 0 0 .25em;
}
/* style first for mobile */
.intro__title { /* h1 */
  /*font-size: 60px;  !* Not sure why Kevin is not using rem here. *!*/
  font-size: 3rem;
}

.section-three { /* .article--primary */
  background: #222C2A;
  color: #fff;
}
.section-four { /* .article--secondary */
  background: #824936;
  color: #fff;
}


.main-title {
  color: #824936;
  text-align: center;
}
.article-title {
  color: #f3EED9;
}

.main {
  padding: 2em 0 4em;
}
/*.container {*/
/*  width: 80%;*/
/*  max-width: 1100px;*/
/*  margin: 0 auto;*/
/*}*/

/*
.row {
  display: flex;
  justify-content: space-between;
}


.col {
  width: 48%; /* Each p tries to reach the max length. If there is multiple <p>, then you need another layer of .col to wrap it and margin between .col */
  /*border: 1px solid pink;*/

  /* Together with style in .article__image, it will make the image in the column responsive.
     Will decrease the size (keep proportion) when the window size decrease.
     Will only reach its current width as the maximum (will not stretch) when the window size increases. *!/
  display: flex;
  flex-direction: column;
}
*/
/*.col + .col {*/
/*  margin-left: 40px;*/
/*}*/
.article__image {
  max-width: 100%;
  align-self: flex-start;
}

article {
  padding: 4em 0;
}
.article--primary {
  background: #222C2A;
}
.article--secondary {
  background: #824936;
}

@media (min-width: 800px) {
  .row {
    display: flex;
  }
  .col {
    width: 100%;
  }
  .col + .col {
    margin-left: 4em;
  }
  .intro__title { /* h1 */
    font-size: 3.75rem;  /* 60px */
  }
}
