/*
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap" rel="stylesheet">
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
 */

/* Reset value */
*, *::before, *::after {
  box-sizing: content-box;
}

:root {
  --clr-dark: #2E323F;
  --clr-light: #fff;
  --clr-primary: #A59678;
  --clr-secondary: #3B4050;
  --clr-tertiary : #6F737F;
}

body {
  font-family: 'Montserrat', sans-serif; /* only add 'Oswald' when we make the change */
  font-size: 1.125rem; /* 18px; */
  color: var(--clr-dark);
  margin: 0; /* override browser agent default */
}

h1, h2, h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:focus,
a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
}

/*-----------------------------------*/

/* Component styling -- common ones */
.container {
  /*border: 1px solid green;*/
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;

  position: relative;
}
.col {
  margin-bottom: 2em;
}
.accent {
  color: var(--clr-primary);
}



/* Component styling -- Specific ones */
/* Component styling -- Specific ones -- Header section*/
.nav {
  background-color: var(--clr-dark);
  padding: 1.5rem 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.nav-toggle {
  /* Remove browser style for button */
  padding: 0;
  border: 0;

  cursor: pointer;

  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  left: 0;
  border-radius: 50%;
}
.nav-toggle:focus {
  outline: 0;
}
.nav-toggle:hover {
  opacity: 0.7;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  position: relative;
  width: 15px;
  height: 3px;
  background-color: var(--clr-dark);
  top: calc(50% - 1.5px);
  left: 7.5px;
}
.hamburger::before {
  position: absolute;
  content: '';
  top: -5px;
  left: 0;
}
.hamburger::after {
  position: absolute;
  content: '';
  top: 5px;
  left: 0;
}

/* Kevin's solution of using width 50%; margin: 0 auto.
   And then set ::before, ::after to display block and transform: translateY on them.
   I eventually understand but using absolute position is still more familiar to me.

.hamburger,
.hamburger::before,
.hamburger::after {
  position: relative;
  width: 50%;
  height: 3px;
  background-color: var(--clr-dark);
  margin: 0 auto;
}
.hamburger::before {
  content: '';
  width: 100%;
  background-color: var(--clr-dark);
  display: block;
  transform: translateY(-5px);
}
.hamburger::after {
  content: '';
  width: 100%;
  display: block;
  transform: translateY(2px);
}
*/

/* I can do animiation through max-height: https://css-tricks.com/using-css-transitions-auto-dimensions/
   But then it become a bit tricky to deal with resize window to > medium size. So i didn't use it.
*/
.nav__list {
  display: none;
}
.show {
  display: block;
}
.nav__item {
  /*border: 1px solid red;*/
  margin-top: 1em;
}
.nav__link {
  /*border: 1px solid green;*/
  color: var(--clr-light);
}
.nav__link--btn {
  background-color: var(--clr-primary);
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 100vw;
}

/* Component styling -- Specific ones -- hero section*/
.hero {
  background-color: var(--clr-secondary);
  padding: 2em 0;
  color: var(--clr-light);
  text-align: center;
}
.hero__title {
  /*border: 1px solid red;*/
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem; /* 56px, will make it 90px in desktop */
  line-height: 1.1;
}
.hero__text {
  font-size: 1.5rem; /* 24px */
}
.hero__btn {
  font-family: 'Oswald', sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 100vw;
}

/* Component styling -- Specific ones -- main -- section one */
.section-one {
  background-color: #F1F1F1;
  padding: 2em 0 0.5em;
}
.section-one__title {
  color: var(--clr-primary);
  font-family: 'Oswald', sans-serif;
  font-size: 1.875rem; /* 30px */
}
.section-one__text {
  font-size: 1.125rem; /* 18px */
}

/* Component styling -- Specific ones -- main -- section two */
.section-two {
  padding: 2em 0;
}
.primary-content {
  margin-bottom: 2em;
}
.primary-content__title {
  color: var(--clr-primary);
  font-family: 'Oswald', sans-serif;
  font-size: 2.25rem; /* 36px */
  line-height: 1.2;
}
.primary-content__text {
  font-size: 1.3125rem; /* 21px */
}
.sidebar-item {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  padding: 1em;
  text-align: center;
}
.sidebar-item + .sidebar-item{
  margin-top: 2em;
}
.sidebar-item__title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.875rem; /* 30px */
  line-height: 1;
}
.sidebar-item__text {
  font-size: 1.125rem; /* 18px */
}

/* Component styling -- Specific ones -- footer */
.footer {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  padding: 2em 0 0.5em;
  text-align: center;
}
.footer__title {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem; /* set it to 48px, it's not the 24px list in the requirement*/
  margin-bottom: 1em;
  line-height: 1.2;
}
.footer__subtitle {
  color: var(--clr-primary);
  font-family: 'Oswald', sans-serif;
  font-size: 1.3125rem; /* 21px */
  line-height: 1.2;
}
.footer__text {
  font-size: 1rem; /* 16px */
}
.footer__item {
  margin-top: 1rem;
}
.footer__link {
  color: var(--clr-light);
  font-size: 1rem; /* 16px */
}

@media (min-width: 700px) {
  /* Component styling -- common ones */
  .row {
    display: flex;
    justify-content: space-between;
  }
  .col {
    margin-bottom: 0;
  }
  .col + .col{
    margin-left: 2em;
  }

  /* Component styling -- Specific ones -- Header section*/
  .nav-toggle {
    display: none;
  }
  .logo {
    /*border: 1px solid yellow;*/
    display: flex;
    align-items: center;
  }
  .nav__list {
    /*border: 1px solid white;*/
    display: flex;
    align-items: center;
  }
  .nav__item {
    margin-top: 0;
    margin-left: 2em;
  }

  /* Component styling -- Specific ones -- hero section*/
  .hero {
    padding: 4em 0 6em;
    text-align: left;
  }
  .hero__title {
    width: 45%;
    font-size: 4rem; /* 64px */
  }
  .hero__text {
    /*border: 1px solid red;*/
    width: 50%;
    align-self: flex-end;
  }

  /* Component styling -- Specific ones -- main -- section one */
  .section-one {
    text-align: center;
    padding: 4em 0;
  }

  /* Component styling -- Specific ones -- main -- section two */
  .section-two {
    padding: 5em 0;
  }
  .primary-content {
    margin-bottom: 3em;
  }
  .sidebar {
    display: flex;
    justify-content: space-between;
  }
  .sidebar-item + .sidebar-item {
    margin-top: 0;
    margin-left: 1em;
  }

  /* Component styling -- Specific ones -- footer */
  .footer {
    text-align: left;
    padding: 4em 0;
  }
  .footer__title {
    text-align: center;
  }
  .footer__first-col {
    max-width: 40%;
  }
}

@media (min-width: 1100px) {
  /* Component styling -- common ones */
  .col + .col {
    margin-left: 4em;
  }

  /* Component styling -- Specific ones -- Header section*/
  .nav__item {
    margin-left: 2.5em;
  }

  /* Component styling -- Specific ones -- hero section*/
  .hero__title {
    font-size: 5.625rem; /* 90px*/
  }

  /* Component styling -- Specific ones -- main -- section two */
  .section-two__row {
    display: flex;
    justify-content: space-between;
  }
  .primary-content {
    width: 60%;
    margin-bottom: 0;
  }
  .sidebar {
    width: 30%;
    display: block;
  }
  .sidebar-item {
    padding: 2em;
  }
  .sidebar-item + .sidebar-item {
    margin-top: 2em;
    margin-left: 0;
  }
}
