/*
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap" rel="stylesheet">
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
 */

/* Reset value */
*, *::before, *::after {
  box-sizing: content-box;
}

:root {
  --clr-dark: #2E323F;
  --clr-light: #fff;
  --clr-primary: #A59678;
  --clr-secondary: #3B4050;
  --clr-tertiary : #6F737F;
}

body {
  font-family: 'Montserrat', sans-serif; /* only add 'Oswald' when we make the change */
  font-size: 1.125rem; /* 18px; */
  color: var(--clr-dark);
  margin: 0; /* override browser agent default */
}

h1, h2, h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:focus,
a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
}

/*-----------------------------------*/

/* Component styling -- common ones */
.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}
.col {
  margin-bottom: 2em;
}
.accent {
  color: var(--clr-primary);
}



/* Component styling -- Specific ones */
/* Component styling -- Specific ones -- Header section*/
.nav {
  background-color: var(--clr-dark);
  padding: 1.5rem 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.nav__item {
  /*border: 1px solid red;*/
  margin-top: 1rem;
}
.nav__link {
  /*border: 1px solid green;*/
  color: var(--clr-light);
}
.nav__link--btn {
  background-color: var(--clr-primary);
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 100vw;
}

/* Component styling -- Specific ones -- hero section*/
.hero {
  background-color: var(--clr-secondary);
  padding: 2rem 0;
  color: var(--clr-light);
  text-align: center;
}
.hero__title {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem; /* 56px, will make it 90px in desktop */
  line-height: 1.2;
}
.hero__text {
  font-size: 1.5rem; /* 16px, will make it 24px in desktop */
}
.hero__btn {
  font-family: 'Oswald', sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 100vw;
}

/* Component styling -- Specific ones -- main -- section one */
.section-one {
  background-color: #F1F1F1;
  padding: 2rem 0 0.5rem;
}
.section-one__title {
  color: var(--clr-primary);
  font-family: 'Oswald', sans-serif;
  font-size: 1.875rem; /* 30px */
}
.section-one__text {
  font-size: 1.125rem; /* 18px */
}

/* Component styling -- Specific ones -- main -- section two */
.section-two {
  padding: 2rem 0;
}
.primary-content__title {
  color: var(--clr-primary);
  font-family: 'Oswald', sans-serif;
  font-size: 2.25rem; /* 36px */
  line-height: 1.2;
}
.primary-content__text {
  font-size: 1.3125rem; /* 21px */
}
.sidebar-item {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  padding: 1rem;
  text-align: center;
  margin-top: 2em;
}
.sidebar-item__title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.875rem; /* 30px */
  line-height: 1;
}
.sidebar-item__text {
  font-size: 1.125rem; /* 18px */
}

/* Component styling -- Specific ones -- footer */
.footer {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  padding: 2rem 0 0.5rem;
  text-align: center;
}
.footer__title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem; /* 24px */
  margin-bottom: 2rem;
}
.footer__subtitle {
  color: var(--clr-primary);
  font-family: 'Oswald', sans-serif;
  font-size: 1.3125rem; /* 21px */
}
.footer__text {
  font-size: 1rem; /* 16px */
}
.footer__item {
  margin-top: 1rem;
}
.footer__link {
  color: var(--clr-light);
  font-size: 1rem; /* 16px */
}

@media (min-width: 700px) {
  /* Component styling -- common ones */
  .row {
    display: flex;
    justify-content: space-between;
  }
  .col {
    margin-bottom: 1em;
  }
  .col + .col{
    margin-left: 1.5em;
  }

  /* Component styling -- Specific ones -- hero section*/
  .hero__text {
    align-self: flex-end;
  }

  /* Component styling -- Specific ones -- main -- section one */
  .section-one {
    text-align: center;
  }

  /* Component styling -- Specific ones -- main -- section two */
  .sidebar-item {
    margin-top: 1em;
  }
  .sidebar-item + .sidebar-item {
    margin-left: 1em;
  }
}
