/*
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap" rel="stylesheet">
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
 */

/* Reset value */
*, *::before, *::after {
  box-sizing: content-box;
}

:root {
  --clr-dark: #2E323F;
  --clr-light: #fff;
  --clr-primary: #A59678;
  --clr-secondary: #3B4050;
  --clr-tertiary : #6F737F;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem; /* 18px; */
  color: var(--clr-dark);
  margin: 0; /* override browser agent default */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/*-----------------------------------*/

/* Component styling -- common ones */
.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Component styling -- Specific ones */
/* Component styling -- Specific ones -- Header section*/
.nav {
  background-color: var(--clr-dark);
  padding: 1.5rem 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.nav__item {
  /*border: 1px solid red;*/
  margin-top: 1rem;
}
.nav__link {
  /*border: 1px solid green;*/
  color: var(--clr-light);
}
.nav__link:focus,
.nav__link:hover {
  opacity: 0.7;
}
.nav__link--btn {
  background-color: var(--clr-primary);
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 100vw;
}

